.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
}
.popular h1{
    font-size: 50px;
    font-weight: 500;
}
.popular hr{
    width: 200px;
    height: 15px;
    border-radius: 10px;
    background-color: rgba(187, 17, 17, 0.796);
}
.popular-item{
    margin-top: 40px;
    display: flex;
    gap: 20px;
}